.container {
    margin: 0 auto;
    max-width: 1220px;
    border-radius: 16px;
    background-color: #0c0c0c;
}

@media (min-width: 640px) {
    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
}

.inner {
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0c0c0c;
    border-radius: 1.25rem;
}

@media (min-width: 640px) {
    .inner {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 768px) {
    .inner {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .inner {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    }
}

.works {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 70px;
}