
.container {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    border: var(--border);
    backdrop-filter: var(--blur);
}

@media (min-width: 768px) {
    .container {
        padding: 48px;
    }
}
  
.container.success {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
  
.container.success.md {
    padding: 4rem;
    margin-left: 60px;
    margin-right: 60px;
}

.backdrop {
    z-index: 10;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    backdrop-filter: var(--blur);
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.msg {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.msgSuccess {
    color: var(--color-primary);
}
  
.msgError {
    color: #B03A2E;
}

.formTitle {
    font-size: 25px;
}

.upper {
    font-weight: 600;
    color: var(--color-white);
}

.highlighted {
    color: var(--color-primary);
}

.bottom {
    font-weight: 400;
    color: var(--color-gray);
}

.inputWrapper {
    z-index: 0;
    width: 100%;
    margin-top: 40px;
    position: relative;
    margin-bottom: 2rem;
}
  
.input {
    border: 0;
    width: 100%;
    display: block;
    padding-left: 0;
    appearance: none;
    padding-right: 0;
    border-radius: 0;
    font-size: 0.875rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: var(--color-white);
    background: none !important;
    background-color: transparent;
    -webkit-text-fill-color: gray;
    border-bottom: 2px solid #333333;
    box-shadow: inset 0 0 0 1000px transparent;
    transition: background-color var(--transition);
}

.input:focus {
    outline: none;
    box-shadow: none;
    background: none !important;
    -webkit-text-fill-color: gray;
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1000px transparent;
    transition: background-color 5000s var(--transition);
}
  
.input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}
  
.formLabel {
    left: 0;
    top: 0.75rem;
    font-size: 24px;
    position: absolute;
    transform-origin: 0;
    pointer-events: none;
    color: var(--color-gray);
    transition: var(--transition);
}
  
.inputWrapper .input:focus + .formLabel,
.inputWrapper .input:not(:placeholder-shown) + .formLabel {
    left: 0;
    top: -1.5rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--color-primary);
    transform: scale(0.75) translateY(-1.5rem);
}
  
.inputWrapper .input:placeholder-shown + .formLabel {
    top: 0.75rem;
    font-size: 24px;
    transform: scale(1) translateY(0);
}
  
.submitWrapper {
    margin-top: 1rem;
    width: max-content;
    border: var(--border);
    border-radius: 0.5rem;
    backdrop-filter: var(--blur);
    transition: var(--transition);
}
  
.submitButton {
    cursor: pointer;
    font-weight: 600;
    width: max-content;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--color-gray);
    background-color: transparent;
    transition: var(--transition);
}
  
@media (pointer: coarse) {
    .submitButton:hover {
        color: var(--color-white);
    }
}
  
.inputWrapper .input:focus {
    border-color: var(--color-primary);
}
  
.inputWrapper .input:focus + .formLabel {
    color: var(--color-primary);
    transform: scale(0.75) translateY(-1.5rem);
}
  
.inputWrapper .input:placeholder-shown + .formLabel {
    top: 0.75rem;
    font-size: 16px;
    transform: scale(1) translateY(0);
}
  
.inputWrapper .input:focus:not(:placeholder-shown) + .formLabel {
    font-size: 0.75rem;
    color: var(--color-primary);
    transform: scale(0.75) translateY(-1.5rem);
}
  
.inputWrapper .input:focus + .formLabel,
.inputWrapper .input:not(:placeholder-shown) + .formLabel {
    left: 0;
    top: 0.35rem;
    font-weight: 500;
    font-size: 0.95rem;
    color: var(--color-primary);
    transform: scale(0.75) translateY(-1.5rem);
}