.mainContainer {
    border: none;
    max-width: 100%;
    margin: 90px auto 0;
    backdrop-filter: var(--blur);
    background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
    .mainContainer {
        border-radius: 16px;
        margin: 150px auto 0;
        border: var(--border);
        max-width: calc(100% - 32px);
    }
}

@media (min-width: 1252px) {
    .mainContainer {
        max-width: 1220px;
    }
}

.contentWrapper {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

@media (min-width: 640px) {
    .contentWrapper {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media (min-width: 768px) {
    .contentWrapper {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .contentWrapper {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.flexContainer {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .flexContainer {
        gap: 5rem;
        flex-direction: row;
    }
}

.addressWrapper {
    width: 100%;
    margin-bottom: 2rem;
}

@media (min-width: 1280px) {
    .addressWrapper {
        width: 40%;
    }
}

.formWrapper {
    width: 100%;
}

@media (min-width: 1280px) {
    .formWrapper {
        width: 60%;
    }
}