.heroContainer {
    height: auto;
    display: flex;
    padding: 50px;
    width: fit-content;
    border-radius: 16px;
    align-items: center;
    margin: 150px auto 0;
    border: var(--border);
    flex-direction: column;
    justify-content: center;
    backdrop-filter: var(--blur);
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
    .heroContainer {
        border: none;
        border-radius: 0;
        padding: 100px 0 0;
        margin: 50px auto 0;
        backdrop-filter: none;
        height: calc(100vh - 88px);
        background-color: transparent;
    }
}

@media (orientation: landscape) {
    .heroContainer {
        height: auto !important;
    }
}

@media (max-width: 1024px) and (max-height: 699px) {
    .heroContainer {
        height: auto !important;
    }
}

.avatarWrapper {
    width: 250px;
    height: 250px;
    position: relative;
}

@media (min-width: 1536px) {
    .avatarWrapper {
        width: 280px;
        height: 280px;
    }
}

.avatarImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary), transparent);
}

.santaHat {
    top: -73px;
    z-index: 1;
    left: -24px;
    width: 226px;
    height: 100%;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

@media (min-width: 1536px) {
    .santaHat {
        top: -83px;
        left: -35px;
        width: 260px;
    }
}

.name {
    font-weight: 600;
    margin-top: 1.5rem;
    font-size: 1.625rem;
    margin-bottom: 0.25rem;
    color: var(--color-white);
}

.description {
    max-width: 500px;
    text-align: center;
    padding: 0 1.25rem;
    margin-bottom: 1rem;
    color: var(--color-gray--darken);
}

.socialWrapper {
    gap: 0.75rem;
    display: flex;
}

.downloadButton {
    display: flex;
    margin-top: 1.5rem;
    border-radius: 35px;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border: var(--border);
    justify-content: center;
    color: var(--color-gray);
    backdrop-filter: var(--blur);
    transition: var(--transition);
}

@media (pointer: coarse) {
    .downloadButton:hover {
        color: var(--color-white);
    }
}
