.container {
    border: none;
    max-width: 100%;
    margin: 90px auto 0;
    padding: 0 1rem 3rem;
    backdrop-filter: var(--blur);
    background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 640px) {
    .container {
        padding: 0 1.25rem 0;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 0 2.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        border-radius: 16px;
        margin: 150px auto 0;
        border: var(--border);
        max-width: calc(100% - 32px);
    }
}

@media (min-width: 1252px) {
    .container {
        max-width: 1220px;
    }
}

.inner {
    padding: 3rem 0;
}

.inner > a {
    display: flex;
    color: #888;
    font-size: 16px;
    column-gap: 5px;
    width: max-content;
    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    transition: var(--transition);
}

.inner > a:hover {
    color: var(--color-white);
}

a.mobileLink {
    display: flex;
    margin: 40px 0 0;
}

@media (min-width: 768px) {
    a.mobileLink {
        display: none;
    }
}