.service {
    gap: 1rem;
    display: flex;
    padding: 1.5rem;
    border: var(--border);
    border-radius: 0.75rem;
    backdrop-filter: var(--blur);
    background-color: transparent;
}

.icon {
    font-size: 30px;
}

.serviceInfo > * + * {
    margin-top: 0.5rem;
}

.title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-white);
}

.info {
    line-height: 2rem;
    color: var(--color-gray);
}