.socialLink {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
}

.iconWrapper {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: 0.5rem;
    border: var(--border);
    justify-content: center;
    backdrop-filter: var(--blur);
}

.iconWrapper:hover {
    color: var(--color-white);
}

.github {
    color: #545454;
}

.linkedin {
    color: #0077b5;
}

.instagram {
    color: #e1306c;
}

.behance {
    color: #1769ff;
}

.youtube {
    color: #ff0000;
}

.facebook {
    color: #1877f2;
}

.dribbble {
    color: #ea4c89;
}

.x {
    color: #545454;
}

.phone {
    color: #F1A66D;
}

/* type 2 */
a.contactItem {
    gap: 0.5rem;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 1rem;
    border: var(--border);
    color: var(--color-gray);
    backdrop-filter: var(--blur);
    transition-duration: var(--transition);
}

a.contactItem:not(:last-child) {
    margin-bottom: 24px;
}
  
a.contactItem:hover span {
    color: var(--color-white);
}

.contactInfo {
    display: flex;
    font-weight: 600;
    font-size: 1.25rem;
    align-items: center;
    color: var(--color-white);
}

.icon {
    height: 28px;
    font-size: 22px;
    margin-right: 8px;
}

.label {
    color: var(--color-gray);
    transition-duration: var(--transition);
}
  
.label:hover {
    color: var(--color-primary);
}

@media (pointer: coarse) {
    .iconWrapper:hover {
        background: #101010;
    }

    a.contactItem:hover span {
        color: var(--color-gray);
    }

    .label:hover {
        color: var(--color-gray);
    }
}
