/* General Container Styles */
.container {
    border: none;
    max-width: 100%;
    margin: 90px auto 0;
    height: fit-content;
    padding: 0 1rem 3rem;
    backdrop-filter: var(--blur);
    background: rgba(0, 0, 0, 0.3);
}

/* Responsive Container Padding and Max Width */
@media (min-width: 640px) {
    .container {
        padding: 0 1.25rem;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 0 2.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        margin-top: 150px;
        border-radius: 16px;
        border: var(--border);
        max-width: calc(100% - 32px);
    }
}

@media (min-width: 1252px) {
    .container {
        max-width: 1220px;
    }
}

/* About Section */
.aboutSection {
    padding: 3rem 0;
}

/* Service Section */
.serviceSection {
    padding-bottom: 3rem;
}

/* Title Styling */
.title {
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 1.25rem;
    color: var(--color-white);
}

/* Service Grid */
.serviceGrid {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .serviceGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1280px) {
    .serviceGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}