.container {
    gap: 0;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 768px) {
    .container {
        gap: 2.5rem;
    }
}

.imageWrapper {
    grid-column: span 12;
}

@media (min-width: 768px) {
    .imageWrapper {
      grid-column: span 4;
    }
}

.image {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.aboutWrapper {
    display: block;
    grid-column: span 12;
}

@media (min-width: 768px) {
    .aboutWrapper {
      grid-column: span 8;
    }
}

.aboutWrapper > * + * {
    margin-top: 0.625rem;
}

@media (min-width: 768px) {
    .top {
      margin-right: 3rem;
    }
}

@media (min-width: 1280px) {
    .top {
      margin-right: 4rem;
    }
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.desc {
    color: #a6a6a6;
    line-height: 1.75rem;
    margin-top: 0.625rem;
}

.tagsWrapper {
    display: block;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .tagsWrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        align-items: center;
        margin-bottom: 30px;
    }
}

.techTitle {
    display: flex;
    column-gap: 15px;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0 10px 10px 0;
}

.techTitle span {
    display: none;
}

@media (min-width: 768px) {
    .techTitle {
        margin: 0 10px 0 0;
    }
    .techTitle span {
        margin-left: -10px;
        display: inline-block;
    }
}

.tagsWrapper button {
    font-size: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: default;
    color: #A6A6A6;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    background-color: #1C1C1C;
    transition: .1s all ease-in-out;
}

@media (min-width: 768px) {
    .tagsWrapper button {
        margin-bottom: 0;
    }
}

.tagsWrapper button:first-of-type {
    margin-left: 0;
}

.tag a:hover,
.tagsWrapper button:hover a {
    color: #3d6037;
}

.tag a {
    font-size: 15px;
    color: #A6A6A6;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    text-transform: capitalize;
    background-color: #1C1C1C;
    transition: .1s all ease-in-out;
}

.visitLink {
    display: block;
}