.container {
    gap: 0;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 768px) {
    .container {
        gap: 2.5rem;
    }
}

.imageWrapper {
    grid-column: span 12;
}

@media (min-width: 768px) {
    .imageWrapper {
      grid-column: span 4;
    }
}

.image {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.aboutWrapper {
    display: block;
    grid-column: span 12;
}

@media (min-width: 768px) {
    .aboutWrapper {
      grid-column: span 8;
    }
}

.aboutWrapper > * + * {
    margin-top: 0.625rem;
}

@media (min-width: 768px) {
    .top {
      margin-right: 3rem;
    }
}

@media (min-width: 1280px) {
    .top {
      margin-right: 4rem;
    }
}

.title {
    gap: 10px;
    display: flex;
    font-size: 25px;
    flex-wrap: wrap;
    font-weight: 500;
    align-items: center;
    margin-bottom: 15px;
    color: var(--color-white);
    justify-content: space-between;
}

.desc {
    line-height: 1.75rem;
    margin-top: 0.625rem;
    color: var(--color-gray);
}

.tagsWrapper {
    display: block;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .tagsWrapper {
        row-gap: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }
}

.techTitle {
    display: flex;
    font-weight: 400;
    column-gap: 15px;
    font-size: 1.25rem;
    align-items: center;
    margin: 0 10px 10px 0;
    color: var(--color-white);
}

.techTitle span {
    display: none;
}

@media (min-width: 768px) {
    .techTitle {
        margin: 0 10px 0 0;
    }
    .techTitle span {
        margin-left: -10px;
        display: inline-block;
    }
}

.tagsWrapper button,
.tagButton {
    font-size: 15px;
    cursor: default;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 0.5rem;
    border: var(--border);
    padding: 0.5rem 1.25rem;
    color: var(--color-gray);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    display: inline-block;
    text-decoration: none;
}

.tagButton {
    cursor: pointer;
}

.tagButton:hover {
    color: var(--color-white);
}

@media (min-width: 768px) {
    .tagsWrapper button,
    .tagButton {
        margin-bottom: 0;
    }
}

.tagsWrapper button:first-of-type,
.tagButton:first-of-type {
    margin-left: 0;
}

.tag a:hover,
.tagsWrapper button:hover a {
    color: var(--color-white);
}

.tag a {
    font-size: 15px;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    color: var(--color-gray);
    text-transform: capitalize;
    backdrop-filter: var(--blur);
    transition: var(--transition);
}

.visitLink {
    display: block;
}